    *{
        padding: 0;
        margin: 0;

    }
    header {
        width: 100vw;
        display: flex;
    }

    h1 {
        margin-right: 32%;
    }
.menu{
    width: 30%;
    display: flex;
}
.menu>a>{
    justify-content: space-between;

}
.menu>a>div{
    min-width: 80px;
    text-align: center ;
}